<div>
  <h2 class="login">Faça login no sistema</h2>
    <%= form_tag('/login', method: "post", class: "form_login") do %>
        <div class="login_email">
          <label class="label_email">Email</label>
          <%= text_field_tag :email, "",class: "email" %>
        </div>
        <div class="login_senha">
          <label class="label_senha">Senha</label>
          <%= password_field_tag :senha, "", class: "senha" %>
        </div>
        <%= submit_tag "login", id:'logar', class: "logar" %>
    <% end %>
</div>