<p id="notice"><%= notice %></p>

<p>
  <strong>Comentario:</strong>
  <%= @comentario.comentario %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @comentario.usuario_id %>
</p>

<p>
  <strong>curso:</strong>
  <%= @comentario.curso_id %>
</p>


