<p id="notice"><%= notice %></p>

<%= link_to 'Voltar', usuario_curso_aulas_path %>
<p>
  <strong>Nome da aula:</strong>
  <%= @aula.nomeAula %>
</p>

<% conteudo = "https://player.vimeo.com/video/" + @aula.conteudo + "?autoplay=1&loop=1&color=ffffff&title=0&byline=0&portrait=0" %>


<div style="padding:52.81% 0 0 0;position:relative;">
  <iframe src=<%=conteudo%>
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          frameborder="0" allow="autoplay; fullscreen" allowfullscreen>
  </iframe>
</div>
