// Place all the styles related to the Aulas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.info_aula {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.field_aula_show {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.player {
  border-radius: 10px;
  margin-left: 60px;
}

.curso {
  display: flex;
  margin-right: auto;
  margin-bottom: 20px;
}
