// Place all the styles related to the Cursos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.form_view{
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.label_th{
  margin-top: 10px;
  width: 150px;
  font-size: 18px;
}

.table{
  background: linear-gradient(45deg, #43C6AC, #191654);
}

.info_curso{
  background: linear-gradient(45deg, #43C6AC, #191654);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
}

#criador_curso{
  margin-right: 110px;
}

#nome_curso{
  margin-right: 40px;
}

#detalhes_curso{
  margin-right: 15px;
}