* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.login_email,
.login_senha {
  display:flex;
  margin-bottom: 10px;
  align-items: center;
}
.label_email {
  margin-right: 18px;
  margin-left: 12px;
}

.label_senha {
  margin-right: 12px;
}

.home {
  text-align: center;
}

a:link,
a:visited {
  border-radius: 20px;
  background-color: #fff;
  color: #000000;
  font-family: "Montserrat", Sans-Serif;
  font-size: 18px;
  padding: 12px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #43c6ac;
}

.login {
  text-align: center;
  margin-top: 150px;
}

.form_login {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logar {
  font-family: "Montserrat", Sans-Serif;
  font-size: 18px;
  background-color: #ffffff;
  border: 0;
  width: 80px;
  height: 25px;
  border-radius: 20px;
}
.logar:hover {
  background-color: #43c6ac;
}

.email,
.senha {
  border: 0;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  border-radius: 7px;
}
.email:hover,
.senha:hover {
  background-color: #43C6AC;
}

.cadastro_usuario {
  display: flex;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.cadastro_usuario_texto {
  margin-right: 20px;
}

#notice {
  background-color: #ffffff;
  color: black;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  border-radius: 20px;
  margin: 25px auto -65px;
  padding: 10px;
}

#notice:empty {
  padding: revert;
  margin-top: 0;
  margin-bottom: 0;
}

.body_home {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  height: 93vh;
  width: 90vw;
  background: linear-gradient(45deg, #43c6ac, #191654);
  background-size: 300% 300%;
  backdrop-filter: blur(3px);
  animation: colors 10s ease infinite;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
